%footer
  %nav.round
    %ul
      %li
        %a{:href => "#"} О сайте
      %li
        %a{:href => "#"} Контакты
  %script{:charset => "utf-8", :src => "//yandex.st/share/share.js", :type => "text/javascript"}
  .yashare-auto-init{"data-yashareL10n" => "ru", "data-yashareQuickServices" => "vkontakte,facebook,twitter,lj", "data-yashareType" => "none"}
